<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>stuff</h1>
    <button onclick="window.location.href='/pong'">Basic Pong</button>
    <button onclick="window.location.href='/crowd'">Crowd</button>
    <button onclick="window.location.href='/tower'">Tower</button>
</body>
</html>
